
<%# A Front-end Design by Tharun K #%>

   

<html>
    
    <head>
        <title>DSCE | Welcome</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="dsce,dayananda,sagar,college,of,engineering,faculty,database,contact,faculties,mini,project">
        <meta name="author" content="Tharun K">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta name="description" content="A faculty contact Database">
                    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/css/style.css" type="text/css" />
    </head>
    
    <body>
      <% include partials/layout.ejs %>      

      
          
          <header> 
              
          <section id="showcase_about">
            <div class="container">
              <h1>D  S  I</h1>
                <pre>
                <p>   L  i  v  e    T  h  e    D  r  e  a  m</p>
                </pre>
            </div>
          </section>
          </header><br/><br/>
                   <h3 align="center"><u>Contact Us</u></h3><br/>
                   <div align="center" style="color:grey;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;">
                        Tharun K  : 1DS16CS114<br/>
                        Venkat Anirudh S N : 1DS16CS117<br/>
                        Naveen K : 1DS17CS<br/>
                        Vasanth M : 1DS16CS434<br/> 
                   </div>
          
          <footer class="fabout">
              <p><span class="fconatctusspan"> ThankYou </span>For Checking...</p>
          </footer>
        </body>
        </html>