<html>

<head>
    <title>DSCE | Welcome</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="dsce,dayananda,sagar,college,of,engineering,faculty,database,contact,faculties,mini,project">
    <meta name="author" content="Tharun K">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A faculty contact Database">
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
</head>

<body>




        <% include partials/layout.ejs %>
    <br/>
    <div class="container-fluid">
            <div class="row">
                
           <div class="col-md-3" style="color:firebrick;" align="center">
                        
                            <h4>Welcome <u><%= user.name %></u></h4>
                            
                            <ul class="list-group">
                                    <li class="list-group-item"><a href="/users/profileu" class="list">Change Login Info</a></li>
                                    <li class="list-group-item"><a href="/users/home" class="list">Search Faculties</a></li>
                                    <br/>
                                    <li class="list-group-item"><a href="/users/update" class="list">Update about Yourself</a></li>
                                    <li class="list-group-item"><a href="/users/update" class="list"></a><a href="/users/profilev" class="list">View your Profile</a></li> 
                                </ul>


<!--

                            <a href="/users/profileu" class="list">Change Login Info</a><br/>
                            <a href="/users/home" class="list">Search Faculties</a><br/>
                            <hr/>
                            <a href="/users/update" class="list">Update about Yourself</a><br/>
                            <a href="/users/profilev" class="list">View your Profile</a><br/>-->
                        <br/>
                    </div>
                    <div class="col-md-2"></div>
   <div class="col-md-5">
       <h3 align="center">About You</h3>
        <form method="post" class="form-group" action="/users/update">
            
                
                <br/>
                
                <input type="text" class="form-control" placeholder="Designation" name="designation"><br/>


               
                <select id="loginselect" class="form-control" name="department">
    <option value="A">--SELECT DEPARTMENT--</option>option>
    <option value="Computer Science">Computer Science</option>
    <option value="Electronic And Communication">Electronics and Communication </option>
    <option value="Electrical and Electronics">Electrical and Electronics</option>
    <option value="Mechanical">Mechanical</option>
    <option value="Telecommunication">Telecommunication</option>
    <option value="Civil">Civil</option>
    <option value="Bio-Technology">Bio-Technology</option>
    <option value="OTHERS">OTHERS</option>
 </select><br/>

                <label class="form-control"><u>Field of Interests</u></label>
                <input type="checkbox" name="foi" value="IOT">IOT<br/>
                <input type="checkbox" name="foi" value="Machine Learning">Machine Learning<br/>
                <input type="checkbox" name="foi" value="Image Processing">Image Processing<br/>
                <input type="checkbox" name="foi" value="Artificial Intelligence">Artificial Intelligence<br/>
                <input type="checkbox" name="foi" value="Web Development">Web Development<br/>
                <input type="checkbox" name="foi" value="Android">Android<br/>
                <input type="checkbox" name="foi" value="Cyber Security">Cyber Security<br/>
                <input type="checkbox" name="foi" value="Ethical Hacking">Ethical Hacking<br/><br/>

                <label class="form-control"><u>Expert In</u></label>
                <input type="checkbox" name="ei" value="IOT">IOT<br/>
                <input type="checkbox" name="ei" value="Machine Learning">Machine Learning<br/>
                <input type="checkbox" name="ei" value="Image Processing">Image Processing<br/>
                <input type="checkbox" name="ei" value="Artificial Intelligence">Artificial Intelligence<br/>
                <input type="checkbox" name="ei" value="Web Development">Web Development<br/>
                <input type="checkbox" name="ei" value="Android">Android<br/>
                <input type="checkbox" name="ei" value="Cyber Security">Cyber Security<br/>
                <input type="checkbox" name="ei" value="Ethical Hacking">Ethical Hacking<br/><br/>


                <input type="number" name="phoneno" class="form-control" placeholder="Contact Number" /><br/>

                <label class="form-control"><u>Please tick the Designations you are associated with</u> </label>
                <label><span style="color:chartreuse;font-size:17px;">(You will be regularly updated with Information from these Fields)</span></label>
                <br/>
                <input type="checkbox" name="mdesignation" value="Lab">Labs<br>
                <input type="checkbox" name="mdesignation" value="ClassTeacher">Class Teacher<br/>
                <input type="checkbox" name="mdesignation" value="Co-ordinator">Co-ordinator<br>
                <input type="checkbox" name="mdesignation" value="HOD">Head of the Department <br/>
                <input type="checkbox" name="mdesignation" value="MIL">MIL<br/>
                <input type="checkbox" name="mdesignation" value="SIL">SIL<br/>
                <br/>
                <button type="submit" class="btn btn-primary" id="sign">Submit</button><br/>
           
        </form>
            </div>
            <div class="col-md-2"></div>
    </div>
    <footer class="fabout">
            <p><a href="/users/contactus">Contact Us </a>for any Queries or to Report any bug </p>
        </footer>
    </div>
</body>

</html>